<div class="float-right">
    <small>
        Your Cart:
        <span *ngIf="cart.itemCount==1">
            is filled with {{cart.itemCount}} item, Total: 
            {{cart.cartPrice|currency:"INR"}}
        </span>
        <span *ngIf="cart.itemCount>1">
            is filled with {{cart.itemCount}} items ,Total: 
            {{cart.cartPrice|currency:"INR"}}
        </span>
        <span *ngIf="cart.itemCount == 0">
            is Empty
        </span>
    </small>
    <button class="btn btn-sm bg-dark text-white" routerLink="/cart"
    [disabled]="cart.itemCount==0" ><a class="fa fa-shopping-cart"></a>
    </button>
</div>
